button {
    background-color: teal;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: teal;
    transition-duration: 0.25s;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
}

button:hover {
    background-color: white;
    color: teal;
    border-width: 2px;
    border-color: teal;
}

